[submodule "public"]
	path = public
	url = https://github.com/t29wuQ/t29wuq.github.io.git
	branch = master
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
